/* MIX */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
a{
    text-decoration: none;
    color:#5F6380;
}
/* header */
header{
    margin-bottom: 80px;
}
.logo{
    width:100px;
    height:50px;
}
.logo img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.top-header{
    display:flex;
    
}
.top-header h1 a{
    
    font-size:  24px; 
}
nav{
    padding: 0 10px;
    border-bottom: 1px solid #a2a5bb;
}
.bottom-header nav ul{
    display:flex;
    list-style: none;
    
}
.bottom-header nav ul li{
    margin-right: 30px;
    font-size:16px;
    font-weight: bold;
    padding: 10px 0;
}
.bottom-header nav ul li:hover{
    border-bottom:2px solid #5A69D6;
}
.bottom-header nav ul li:hover a{
    color:#5A69D6;
}

/* main */

.box{
    width:70%;
    margin:0 auto;
}
.box h2{
    margin-bottom:20px;
    color:#424452;
}
.box p{
    margin-bottom: 60px;
    line-height: 25px;
    font-size:14px;
}